## RPC_URL for connecting to an Ethereum node.
RPC_URL=

## SP1 prover network rpc URL
NETWORK_RPC_URL=
## Proof requester 
PRIVATE_KEY=
## Interval (in seconds) at which to check for new transactions and create new rollup proofs.
BLOCK_INTERVAL=

DATABASE_URL=

DATA_STRATEGY=persist

